#playerList A:link {
    text-decoration: none;
    color: #fff;
}

#playerList A:hover {
    text-decoration: none;
    color: #fff;
}

#playerList A:active {
    text-decoration: none;
    color: #fff;
}

#playerList A:visited {
    text-decoration: none;
    color: #fff;
}

#playerList {
	position: absolute;
	background-image: url(./listbg.png);
	top: 120px;
	right: 20px;
	width: 150px;
	border: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	color: #FFFFFF;
	font-family: Arial;
}

#Players {
	font-size: 80%;
	left: 10px;
	bottom: 10px;
	top: 5px;
	font-weight: bold;
}

#onlinelist {
	font-size: 80%;
	position: relative;
	text-align: center;
	top: 5px;
}

#onlinelist > hr {
	color: #FFFFFF;
	background: #FFFFFF;
	height: 1px;
}
